.aboutBox {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}


.aboutContent {
    margin: 50px;
}

.aboutContent p {
    margin-bottom: 20px;
}


@media only screen and (max-width: 600px)  {
    .aboutBox {
        display: unset
    }
  } 