.pagelayout {
    width: 500px;
    margin: auto;
}

.pagelayout h1 {
    margin-bottom: 10px;
}


.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    padding: 4px;
}

.footer li {
    display: inline;
}

.footer li:not(:last-child)::after {
    content: "|";
    margin: 20px;
}

.footer a {
    color: black;
}

.footer a:hover {
    text-decoration: underline;
}